<a href="https://colab.research.google.com/github/fereshtehdehkhoda/Example-36-KNN25-RMSE-MAE-MAPE-/blob/main/S10soale3_and_4_and_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#روی داده‌های آموزش hw10_train.csv یک مدل نزدیکترین همسایه (kNN) بسازید. تعداد همسایه‌ها را 25 قرار دهید. شاخص RMSE روی داده‌های آموزش چقدر است؟

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("hw10_train.csv")

In [ ]:
features=['AT','AP','RH','V']
X_train=data[features]

In [ ]:
y_train=data['PE']

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn_25=KNeighborsRegressor(n_neighbors=25)
knn_25.fit(X_train,y_train)
data['pred_k25']=knn_25.predict(X_train)
data

         AT      V       AP     RH      PE  pred_k25
0     14.96  41.76  1024.07  73.17  463.26  465.6692
1     25.18  62.96  1020.04  59.08  444.37  445.0212
2      5.11  39.40  1012.16  92.14  488.56  486.4996
3     20.86  57.32  1010.24  76.64  446.48  445.3324
4     10.82  37.50  1009.23  96.62  473.90  473.2564
...     ...    ...      ...    ...     ...       ...
6495  24.01  60.84  1018.83  63.82  436.32  446.5524
6496  26.67  70.94  1007.70  56.56  439.13  434.4152
6497  11.57  44.63  1020.70  91.11  469.64  472.4368
6498  27.33  66.17  1011.06  64.55  443.89  438.7892
6499  14.51  44.84  1023.23  82.33  465.09  466.5356

[6500 rows x 6 columns]

In [ ]:
RMSE=np.sqrt(np.mean((data['PE']-data['pred_k25'])**2))
RMSE

4.090453558914575

In [ ]:
MAE=np.mean(np.abs(data['PE']-data['pred_k25']))
MAE

3.125258707692307

In [ ]:
MAPE=np.mean(np.abs((data['PE']-data['pred_k25'])/data['PE']))*100
MAPE

0.687463198811981